$main-padding: 15px;

$main-font: "Roboto", sans-serif;
$main-h1  : 32px;
$main-h2  : 26px;
$main-h3  : 22px;
$main-h4  : 18px;
$main-h5  : 16px;
$main-h6  : 14px;
$main-p   : 12px;

$main-bold      : 700;
$main-semi-bold : 600;
$main-regular   : 500;
$main-light     : 400;

$main-color_primary    : red;
$main-color_secondary  : blue;
$main-color_terciary   : green;