$main-padding: 15px;

$main-font: "Roboto", sans-serif;
$main-h1  : 38px;
$main-h2  : 32px;
$main-h3  : 28px;
$main-h4  : 22px;
$main-h5  : 18px;
$main-h6  : 16px;
$main-p   : 14px;

$main-bold      : 700;
$main-semi-bold : 600;
$main-regular   : 500;
$main-light     : 400;

$main-text : 1.3;

$main-color_primary    : #ceecff;
$main-color_secondary  : rgb(232, 241, 255);
$main-color_terciary   : green;

$main-bg-color : #11233c;
