$main-padding: 15px;

$main-font: "Roboto", sans-serif;
$main-h1  : 38px;
$main-h2  : 32px;
$main-h3  : 28px;
$main-h4  : 22px;
$main-h5  : 18px;
$main-h6  : 16px;
$main-p   : 14px;

$main-bold      : 700;
$main-semi-bold : 600;
$main-regular   : 500;
$main-light     : 400;

$main-text : 1.3;

$main-color_primary    : #FFFFFF;
$main-color_secondary  : #0053e3;
$main-color_terciary   : #000000;

$main-color_border : #1258db;
$main-color_light  : rgb(45 145 255);
$main-color_dark   : #0e46bb;
$main-color_blue-border        : #1570f5;
$main-color_black-tranparent   : #00000055;
$main-color_black-tranparent-hover   : #000000AA;
$main-color_blue-tranparent-hover    : #0053e33b;
$main-color_blue-tranparent-hover2    : #78aaff3b;
$main-color_blue-img : #033c99;

$main-color_grey   : #eeecdf;

$main-bg-color : #11233c;

$main-color_green1 :#3f9b40;
$main-color_green2 :#57a655;
$main-color_green3 :#277e30;

